html,
body {
  font-family: "Satisfy", cursive;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='126' height='84' viewBox='0 0 126 84'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.4'%3E%3Cpath d='M126 83v1H0v-2h40V42H0v-2h40V0h2v40h40V0h2v40h40V0h2v83zm-2-1V42H84v40h40zM82 42H42v40h40V42zm-50-6a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm96 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm-42 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm30-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM20 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 24a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM8 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM50 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm54-12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm12 12a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 54a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24 0a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM92 78a4 4 0 1 1 0-8 4 4 0 0 1 0 8zm24-42a4 4 0 1 1 0-8 4 4 0 0 1 0 8z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  height: 100%;
  width: 100%;
}
.game-title {
  text-align: center;
  font-size: 6rem;
}

.body-section {
  font-family: "Noto Sans SC", sans-serif;
}
.dice-image {
  display: block;
  width: 5%;
  margin: 0.5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.score-board {
  background-color: #ffffff;
  height: 100%;
  margin: 2% 6%;
}
.score-board h2 {
  text-align: center;
  font-weight: 100;
}

.body-section {
  height: 70%;
  margin: 0%;
  padding: 0%;
}
.dice {
  position: absolute;
  top: 43%;
  left: 47%;
  width: 120%;
}
.player-score {
  font-family: "Montserrat", sans-serif;
  font-size: 20rem;
  font-weight: 100;
  text-align: center;
}

.score {
  background-color: #eb4d4d;
  text-align: center;
  width: 13%;
  position: relative;
  top: 11%;
  left: 45%;
  -webkit-transition: width 2s;
  transition: width 1s;
}
.score p {
  font-size: 2rem;
}
.score:hover {
  width: 15%;
}
.score-board h2 {
  padding: 3%;
}
.active {
  background-color: #f7f7f7;
}
.active h2 {
  font-weight: 500;
}
.active .dot {
  border-radius: 50%;
  background-color: red;
  display: inline-block;
  height: 10px;
  margin-bottom: 1%;
  width: 10px;
}
.active .player-score {
  font-weight: 300;
}
.roll-dice {
  position: absolute;
  top: 71%;
  left: 47%;
}
.hold-btn {
  position: absolute;
  top: 78%;
  left: 48%;
}
.btn-tags:hover {
  padding-left: 2%;
}
.game-rules {
  color: #eb4d4d;
  font-family: "Noto Sans SC", sans-serif;
  margin-left: 90%;
}
.rules-section {
  display: none;
}
.rules {
  font-family: "Noto Sans SC", sans-serif;
  font-size: 2rem;
  padding: 2% 0;
}
.game-rules-list {
  padding: 1% 10%;
}
.new-btn {
  position: absolute;
  top: 35%;
  left: 46%;
}
